footer{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    background-color: rgb(28, 28, 30);
    color: rgba(230, 230, 230, 1);
}

@media screen and (min-width: 600px) {
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1024px) {
    
}