header {
  position: sticky;
  background-color: var(--background-colour-light);
  height: 5rem;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-colour-light);
  height: 100%;
  padding: 1rem;
  z-index: 100;
}

.nav-menu {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 1000;
  
}

.nav-menu.active {
  transform: translateX(0);
}

.navlinks {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navlinks li {
  font-size: 1.6rem;
  background-color: var(--background-colour);
  padding: 1.5rem 2rem;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.197);
}

.navlinks a {
  display: block;
  height: 100%;
  width: 100%;
  color: var(--typography-colour);
  font-family: var(--primary-font);
  text-decoration: none;
}

.logo {
  color: var(--primary-colour);
  font-family: var(--primary-font);
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-btn {
  background: none;
  border: none;
  outline: none;
  display: block;
  cursor: pointer;
  padding: 1rem;
}

.menu-lines {
  position: relative;
  display: block;
  width: 2.5rem;
  height: 1.5px;
  background: var(--typography-colour);
  transition: all 0.3s ease;
}

.menu-lines::after,
.menu-lines::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 1.5px;
  background: var(--typography-colour);
  left: 0;
  transition: all 0.3s ease;
}

.menu-lines::before {
  top: -8px;
}

.menu-lines::after {
  top: 8px;
}

.menu-open .menu-lines {
  background: transparent;
}
.menu-open .menu-lines::before {
  top: 0;
  transform: rotate(45deg);
}
.menu-open .menu-lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.auth-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  font-size: 1.4rem;
  color: var(--typography-colour);
  text-decoration: none;
}

.auth-container .login-link{
  text-decoration: none;
  color: var(--typography-colour);
}

.auth-container .login-link:hover{
  color: var(--primary-colour);
}

.divider {
  height: 2rem;
  width: 1px;
  background-color: var(--typography-colour);
  opacity: 0.5;
}

.logout-btn:hover,
.logout-btn:hover + .fa-user {
  color: var(--primary-colour);
}

.fa-user {
  font-size: 1.6rem;
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Icon styling */
.user-icon {
  font-size: 1.3rem;
}

/* Hidden dropdown by default */
.user-dropdown {
  position: absolute;
  top: 120%;
  right: 0;

  background: var(--background-colour-light);
  color: var(--primary-colour);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 0.5rem 0.75rem;

  min-width: 140px;

  display: flex;
  align-items: center;
  gap: 1rem;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);

  transition: all 0.2s ease;
  z-index: 1000;
}

/* Show on hover */
.user-menu:hover .user-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.logout-btn {
  font: inherit;
  outline: none;
  border: none;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  color: var(--primary-colour);
  text-align: left;
}

.logout-btn:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  header {
    height: 6rem;
  }
  .navbar {
    padding: 0 2rem;
    justify-content: space-between;
  }

  .nav-menu {
    position: static;
    width: fit-content;
    height: 100%;
    transform: translateX(0);
    background: none;
  }

  .navlinks {
    flex-direction: row;
  }

  .navlinks li {
    border: none;
    background: none;
    padding: 1rem 0.5rem;
    
  }

  .navlinks a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    height: 100%;
    width: 100%;
    padding: 1rem 0.5rem;
  }

  .navlinks a:hover {
    color: var(--primary-colour);
  }

  .navlinks a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.05rem;
    width: 100%;
    height: 0.3rem;
    background-color: var(--primary-colour);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navlinks a.active::after {
    transform: scale(1);
  }

  .navlinks a.active {
    color: var(--primary-colour);
    font-weight: 600;
  }

  .logo:hover {
    transform: translateY(-2px);
  }

  .menu-btn {
    display: none;
  }
}
