.first-property-page .hero-info,
.freedom-path-page .hero-info,
.legacy-path-page .hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  gap: 1.5rem;
}

.select-track-btn,
.selected-track-btn,
.untrack-btn,
.track-disabled-btn {
  margin-top: 3rem;
  border-radius: 0.5rem;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  gap: 0.5rem;
}

.select-track-btn {
  color: white;
  background: var(--accent-colour-2);
}

.select-track-btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.12);
}

.selected-track-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--primary-colour);
  cursor: default;
}

.untrack-btn {
  width: 100%;
  color: white;
  background: transparent;
  border: 1px solid white;
}

.untrack-btn:hover {
  transform: translateY(-0.2rem);
  background-color: white;
  color: var(--primary-colour);
}

.track-disabled-btn {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(175, 20, 74, 0.45);
  cursor: not-allowed;
}

.track-disabled-btn:disabled {
  opacity: 0.7;
}

.track-disabled-btn:hover {
  transform: none;
  box-shadow: none;
}

.track-btn-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.first-property-page .btn-container,
.freedom-path-page .btn-container,
.legacy-path-page .btn-container .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
